<section class="orders-show">

  <header class="page-header">
    <h1>Order <%= @order.id %></h1>
    </header>
    

    <div class="order-summary jumbotron">
    <h4>Thank you for your order! </h4>
    <h5><%= @order.email %></h5>
    </div>

  <div>
    <% @order.line_items.each do |line_item| %>
      <%= render 'line_item', product: line_item.product, quantity: line_item.quantity.to_i %>
    <% end %>
    
    </div>
    <div>
    <h4>Order Total </h4>
    <h5><%= humanized_money_with_symbol @order.total %></h5>
    </div>
    
    <div>
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
    </div>

</section>
